@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&family=Source+Sans+3:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #d0d4d5;
    position: relative;
}

#nav{
    height: 90px;
    padding: 0 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#nav img{
    height: 30px;
    margin-right: 170px;
}

#navpt1 h4{
    margin-right: 60px;
    font-size: 2.6vh;
    font-weight: 600;
    text-transform: uppercase;
}

#navpt1{
    display: flex;
    align-items: center;
    justify-content: center;
}


#navpt2 i{
    margin-right: 30px;
    font-size: 3vh;
    font-weight: 500;
}

#content{
    height: calc(100% - 90px);
    width: 100%;
    position: relative;
    display: flex;
}

#left{
    width: 40%;
    height: 100%;
    padding: 40px 120px;
}

#left h5{
    font-size: 20px;
    margin-bottom: 15px;
    color: #535353;
}

#left h1{
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 1;
    text-transform: uppercase;
}

#left p{
    margin-bottom: 15px;
    font-size: 15px;
}

#left button{
    padding: 12px 40px ;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    border-top-left-radius: 0;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
    transition: all ease 0.2s;
    border: 2px solid #000;
}

#left button:hover{
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000;
}


#right{
    width: 60%;
    height: 100%;
}

